@model PhotoDetailsModel

@{
    ViewData["Title"] = "Carrello";
}

<table class="table">
    <thead>
        <tr>
            <th>Articolo</th>
            <th>Quantità</th>
        </tr>
    </thead>
    <tbody>
    
</table>
