@{
    ViewData["Title"] = "Chi siamo";
}

<div class="text-center" style="font-family: Times New Roman, Times, serif">
    <h2 class="display-4">Enoteca Quattrocento</h2>
    <p> <b>Vineria 400</b>: wine bar, cocktail, finger food e tanto altro.<br> 
    Locale aperto nel 2018 in gestione familiare  <br>Benvenuti all'Enoteca 400, il luogo dove il vino incontra l'eccellenza. 
    Siamo orgogliosi di offrire una
    vasta selezione delle migliori etichette provenienti dalle regioni vinicole più rinomate.
    Situati nel cuore della città, siamo il punto di riferimento per gli amanti del vino e concerti live.</p>
</div>